* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(242, 219, 229);
}

.title {
    display: flex;
    background-color: rgb(197, 135, 167);
    position: absolute;
    width: 20%;
    top: 5%;
    left: 40%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2vw;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 50%;
    top: 25%;
    left: 25%;
    margin-bottom: 100px;
}

.container img{
    display: flex;
    justify-content: left;
    width: 30%;
}

.eggs, .flour, .sugar  {
    position: relative;
    background-color:rgba(218, 172, 196, 0.264);
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
}


.judul {
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 1.5vw;    
}

.desc { 
    display: flex;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 1.2vw;    
}

.eggs:hover, .flour:hover, .sugar:hover{
    background-color:rgba(197, 135, 167, 0.358);
}