* {
    margin: 0;
    padding: 0;
}

:root {
    --1st-color: #FFF2EB;
    --2nd-color: #d7a0bd;
    --3rd-color: #dabbcb43;
    --4th-color: #c587a75b;
}

body {
    background: var(--1st-color);
}

.title {
    display: flex;
    background-color: var(--2nd-color);
    position: absolute;
    width: 20%;
    top: 5%;
    left: 40%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2vw;
    align-items: center;
    justify-content: center;
}

/*navigation*/

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: black;
        padding: 10px 20px;
        z-index: -1;
    }

    nav ul {
        color: black;
        text-decoration: none;
        padding: 10px; 
    }

    .homelogo {
        display: flex;
        position: absolute;
        top: 5%;
    }

    .dropbtn {
        background-color: pink;
        color: rgb(0, 0, 0);
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

    .input {
    padding: 10px;
    }

    .dropbtn:hover, .dropbtn:focus, .dropbtn:active {
    background-color: #f18ea4;
    }

    .dropdown {
        display: flex;
        position: absolute;
        left: 95%;
        top: 5%;
    }

    .dropdown-content.show {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 100%;
        top: 0;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    .dropdown a:hover {
        background-color: #ddd;
        padding: 10px;
    }

/*container*/
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 50%;
    top: 25%;
    left: 25%;
    margin-bottom: 100px;
}

.container img{
    display: flex;
    justify-content: left;
    width: 30%;
}

.eggs, .flour, .sugar  {
    position: relative;
    background-color: var(--3rd-color);
    border-radius: 10px;
    margin: 10px;
    text-decoration: none;
    color: black;
}


.judul {
    display: flex;
    position: absolute;
    top: 30%;
    left: 40%;
    font-size: 1.5vw;    
}

.desc { 
    display: flex;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 1.2vw;    
}

.eggs:hover, .flour:hover, .sugar:hover{
    transition: all 0.3s ease-in-out; /* Smooth transition effect */
    transform: scale(1.1); /* Expand to 110% size on hover */
    background-color: var(--4th-color);
}