* {
    margin: 0;
    padding: 0;
}

:root {
    --1st-color: #FFF2EB;
    --2nd-color: #d7a0bd;
    --3rd-color: #dabbcb43;
    --4th-color: #c587a75b;
}

body {
    background: var(--1st-color);
}

header{
    display: flex;
    background-color: var(--2nd-color);
    position: relative;
    flex-direction: column;
    width: 20%;
    top: 5%;
    left: 39%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5vw;
    align-items: center;
}

header p{
    font-size: 1.2vw;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #9c243e;
}

/* .sub-header p {
    display: flex;
    position: absolute;
    justify-content: center;
    background-color:#d7a0bd;
    padding: 2%;
    font-size: 1.2vw;
    width: 20%;
    top: 10%;
    left: 39%;
    border-radius: 10px;
} */


/* nvaigation*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 20px;
    /* z-index: 1; */
}

nav ul {
    color: black;
    list-style-type: none;
    padding: 10px; 
}

.homelogo {
    display: flex;
    position: absolute;
    top: 5%;
    z-index: 3;
    width: 20%;
}

.dropbtn {
    background-color: pink;
    color: rgb(0, 0, 0);
    padding: 1em;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}

.input {
padding: 10px;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn:active {
background-color: #f18ea4;
}

.dropdown {
    display: flex;
    position: absolute;
    left: 95%;
    top: 5%;
    z-index: 3;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 8rem;
    max-height: 20rem;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 100%;
    top: 0;
    width: 10%;
}

.dropdown-content a {
    font-size: 1vw;
    color: black;
    padding: 0.6rem ;
    text-decoration: none;
    display: block;
}


.dropdown a:hover {
    background-color: #ddd;
}

.search-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

.search-wrapper input {
    font-size: 1vw;
    width: 80%;
}

.submenu {
    list-style-type: none;
}


/*container*/
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 50%;
    top: 15%;
    left: 25%;
}

.container img{
    display: flex;
    justify-content: left;
    width: 30%;
}

.eggs, .flour, .sugar  {
    position: relative;
    background-color: var(--3rd-color);
    border-radius: 10px;
    margin: 1rem;
    text-decoration: none;
    color: black;
    width: 60%;
    padding: 2rem;
}


.judul {
    display: flex;
    position: absolute;
    top: 25%;
    left: 40%;
    font-size: 1.5vw;    
}

.desc { 
    display: flex;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 1.2vw;    
}

.eggs:hover, .flour:hover, .sugar:hover{
    transition: all 0.4s ease-in-out; /* Smooth transition effect */
    transform: scale(1.1); /* Expand to 110% size on hover */
    background-color: var(--4th-color);
}