body {
    background-color: #FFF2EB;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.homelogo img{
    size: 10%;
}

/* nvaigation*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 20px;
    z-index: 10;
    top: 5%;
}

nav ul {
    color: black;
    list-style-type: none;
    padding: 10px; 
}

.homelogo {
    display: flex;
    position: absolute;
    top: 5%;
    z-index: 3;
    width: 20%;
    z-index: 4;
}

.dropbtn {
    background-color: pink;
    color: rgb(0, 0, 0);
    padding: 1em;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}

.input {
padding: 10px;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn:active {
background-color: #f18ea4;
}

.dropdown {
    display: flex;
    position: absolute;
    left: 95%;
    top: 5%;
    z-index: 3;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 15rem;
    max-height: 20rem;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 100%;
    top: 0;
    width: 10%;
}

.dropdown-content a {
    font-size: 1vw;
    color: black;
    padding: 0.6rem ;
    text-decoration: none;
    display: block;
}


.dropdown a:hover {
    background-color: #ddd;
}

.search-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

.search-wrapper input {
    font-size: 1vw;
    width: 80%;
}

.submenu {
    list-style-type: none;
}


  
/* learning outcome page */
    .container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;  
    }

    /* .container-food img{
        display: flex;
        background-color: red;
        width: 1vw;
    } */
    
    .curtain {
        width: 100%;
        z-index: -2;
    }

    .shelfs {
        position: absolute;
        top: 26%;
        z-index: -2;
        width: 58%;
    }
    
    .curtain-left {
        position: absolute;
        top: 50%;
        /* left: 13%; */
        width: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        animation: moveCurtainLeft 3.5s forwards;
    }
    
    @keyframes moveCurtainLeft {
        from {
            left: 25%;
        }
        to {
            left: -5%;
        }
    }
    
    .curtain-right {
        position: absolute;
        top: 50%;
        width: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        animation: moveCurtainRight 3.5s forwards;
    }
    
    @keyframes moveCurtainRight {
        from {
            left: 80%;
        }
        to {
            left: 105%;
        }
    }

    .decoration {
        position: absolute;
        z-index: 3;
        width: 110%;
        animation: moveDecoration 3.5s forwards;
    }

    @keyframes moveDecoration {
        from {
            top: 0%;
        }
        
        to {
            top: -25%;
        }
    }

    .container .texts a {
        display: flex;
        position: absolute;
        text-decoration: none;
        font-size: 1vw;
    }

    #LO1, #LO2, #LO3, #LO4, #LO5 {
        font-size: 1vw;
    }

    /*cakes*/
    .images1 {
        display: flex;
        position: absolute;
        top: 10%;
        left: 28%;
    }

     .images1 img {
        width: 45%;
     }

    
    #LO1 {
        display: flex;
        position: absolute;
        top: 65%;
        left: 4%;
        background-color: #f5bcc9;
        padding: 1em;
        width: 30%;
        z-index: 1;
        color: black;
        text-decoration: none;
        justify-content: center;
        
    }

    #LO1:hover {
        background-color: #d3a2ad;
    }


    .images2 {
        display: flex;
        position: absolute;
        top: 15%;
        left: 48%;
    }

     .images2 img {
        width: 40%;
     }

    #LO2 {
        display: flex;
        position: absolute;
        top: 92%;
        left: -5%;
        background-color: #f5bcc9;
        padding: 1em;
        z-index: 1;
        color: black;
        text-decoration: none;
    }

    #LO2:hover {
        background-color: #d3a2ad;
    }

    .images3 {
        display: flex;
        position: absolute;
        top: 10%;
        left: 60%;
    }

     .images3 img {
        width: 60%;
     }

    #LO3 {
        display: flex;
        position: absolute;
        top: 75%;
        left: 5%;
        background-color: #f5bcc9;
        padding: 1em;
        z-index: 1;
        color: black;
        text-decoration: none;
    }

    #LO3:hover {
        background-color: #d3a2ad;
    }

    .images4 {
        display: flex;
        position: absolute;
        top: 40%;
        left: 35%;
    }

     .images4 img {
        width: 40%;
     }

    #LO4 {
        display: flex;
        position: absolute;
        top: 80%;
        left: 5%;
        background-color: #f5bcc9;
        padding: 1em;
        z-index: 1;
        color: black;
        text-decoration: none;
    }

    #LO4:hover {
        background-color: #d3a2ad;
    }

    .images5 {
        display: flex;
        position: absolute;
        top: 40%;
        left: 55%;
    }

     .images5 img {
        width: 40%;
     }

    #LO5 {
        position: absolute;
        top: 80%;
        left: 2%;
        background-color: #f5bcc9;
        padding: 1em;
        z-index: 1;
        color: black;
        text-decoration: none;
    }

    #LO5:hover {
        background-color: #d3a2ad;
    }


    

    
  /* Media query for responsive design (show burger menu on smaller screens) */
  @media only screen and (max-width: 768px) {
    .dropbtn {
      display: block;
    }
  

  }
  