* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --1st-color: #FFF2EB;
    --2nd-color: #d7a0bd;
    --3rd-color: #dabbcb43;
    --4th-color: #c587a75b;
}

body {
    background-image: url("/images/background.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--1st-color);
}


/* nvaigation*/
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 20px;
    /* z-index: 1; */
}

nav ul {
    color: black;
    list-style-type: none;
    padding: 10px; 
}

.homelogo {
    display: flex;
    position: absolute;
    top: 5%;
    z-index: 3;
    width: 20%;
}

.dropbtn {
    background-color: pink;
    color: rgb(0, 0, 0);
    padding: 1em;
    font-size: 1vw;
    border: none;
    cursor: pointer;
}

.input {
padding: 10px;
}

.dropbtn:hover, .dropbtn:focus, .dropbtn:active {
background-color: #f18ea4;
}

.dropdown {
    display: flex;
    position: absolute;
    left: 95%;
    top: 5%;
    z-index: 3;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 8rem;
    max-height: 20rem;
    overflow: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 100%;
    top: 0;
    width: 10%;
}

.dropdown-content a {
    font-size: 1vw;
    color: black;
    padding: 0.6rem ;
    text-decoration: none;
    display: block;
}


.dropdown a:hover {
    background-color: #ddd;
}

.search-wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
}

.search-wrapper input {
    font-size: 1vw;
    width: 80%;
}

.submenu {
    list-style-type: none;
}

/* page */
main {
    display: flex;
    flex-direction:column;
    /* align-items: center;
    justify-content: center; */
    /* background-color: red; */
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
}

header {
    display: flex;
    justify-content: center;
    font-size: 2vw;
    margin: 2%;
}
img {
    width: 40%;
    transition: transform 0.4s ease;
}

img:hover {
    transform: scale(1.6);
}

p {
    margin: 2%;
    font-size: 1.1vw;
}